<h1>Stupid Coaching</h1>
<div class="container">
  <p><%= @question %></p>
  <p><i>-You</i></p>
</div>
<div class="container answer">
  <p><%= @answer %></p>
  <p><i>-Your coach</i></p>
</div>
<%= link_to "Ask a new question", "/ask" %>

<!-- <link rel="stylesheet" href=""> -->
